## python=3.8 for conda env updated to python==3.9 to match cohere requirements
fastapi==0.110.2
uvicorn[standard]==0.29.0
python-multipart==0.0.9
python-dotenv==1.0.1
pydantic-settings==2.2.1
aiofile==3.9.0
langchain==0.1.20
pyMuPDF==1.24.3
motor==3.6.1
openai==1.35.13
cohere==5.5.8
qdrant-client==1.10.1
